.wrapper {
  margin: 40px auto;
  width: 285px;
  border-radius: 10px;
  background-color: #fff;
}

.userInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid grey;
  border-radius: 10px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  align-items: center;
  gap: 5px;
  padding: 40px 0px;
}

.userAvatar {
  width: 75px;
  height: 75px;
  background-color: burlywood;
  border-radius: 50%;
}

h4 {
  margin: 0;
}

.userTag {
  font-size: small;
  font-weight: 600;
  color: lightslategray;
}

.userLocation {
  font-size: small;
  font-weight: 600;
  color: lightslategray;
}

.listStats {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  border: 1px solid gray;
  background-color: lightcyan;
  border-top: 0px;
  border-radius: 10px;
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
}

.itemStats {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 94px;
  border-right: 1px solid gray;
  padding: 20px;
  background-size: cover;
}

.itemStats:last-child {
  border-right: 0px;
}

.itemName {
  font-size: small;
  font-weight: 600;
  color: lightslategray;
}
.itemCounter {
  margin-top: 5px;
}
