.wrapper {
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.friendList {
  display: flex;
  flex-direction: column;
  width: 280px;
  gap: 15px;
}

.item {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
  border: 2px solid;
  border-color: rgb(217, 30, 30);
  padding: 10px;
  background-color: beige;
}

.status {
  display: flex;
  width: 10px;
  height: 10px;
  background-color: rgb(217, 30, 30);
  border-radius: 50%;
  align-items: center;
}

.status.online {
  background-color: rgb(15, 226, 92);
}
.item.online {
  border-color: rgb(15, 226, 92);
}

.avatar {
  padding: 5px;
  border: 1px solid;
  border-color: rgb(217, 30, 30);
  border-radius: 10px;
  background-color: white;
}

.avatar.online {
  border-color: rgb(15, 226, 92);
}
